# Ignore
*

# Allow
!.gitignore
!README.md
!LICENSE
!*/

# Allow
!/week1-percolation/Percolation.java
!/week1-percolation/PercolationStats.java
!/week1-percolation/percolation.zip

!/week2-queues/Deque.java
!/week2-queues/Permuation.java
!/week2-queues/RandomizedQueue.java
!/week2-queues/queues.zip

!/week3-collinear-points/BruteCollinearPoints.java
!/week3-collinear-points/FastCollinearPoints.java
!/week3-collinear-points/Point.java
!/week3-collinear-points/collinear.zip

!/week4-8puzzle/Board.java
!/week4-8puzzle/Solver.java
!/week4-8puzzle/8puzzle.zip

!/week5-kd-tree/KdTree.java
!/week5-kd-tree/PointSET.java
!/week5-kd-tree/kdtree.zip

